html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}

div#container {
	position: relative;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

div#content {
	padding: 1em;
}

div#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: x-small;
}

div#footer p {
	padding: 1em;
	margin: 0;
}

span.rawData {
	font-weight: bold;
    display: table-cell;
    padding-right: 5px;
}

span.decodedData {
    display: table-cell;
}

span.composite-label {
	font-weight: bold;
}

.highlight {
	background-color: #00ffff;
}

td.indent {
	width: 20px;
}

.bytes {
    font-family: monospace;
    font-size: small;
}